 <!--es el elemento padre de polymer -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/login-polymer/login-polymer.html">

<dom-module id="demopolymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--div hidden={{esconderLogin}}-->
      <login-polymer  esconderLogin="{{esconderLogin}}" ></login-polymer>

    <!--/div-->

  </template>

  <script>

    class DemopolymerApp extends Polymer.Element {
      static get is() { return 'demopolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer-app'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(DemopolymerApp.is, DemopolymerApp);
  </script>
</dom-module>
