////console.log<!--es el elemento padre de polymer -->
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="login-polymer">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .scrollmov{
        width : 450px;
        height : 300px;
        overflow: scroll;
      }
      .flag{
        width: 140px;
        height: 140px;
      }
      .container-fluid {padding:80px;}
      .container{
        background-color:#FAFAFA;
        padding:10px;
      }
      .vcenter:{
        display: inline-block;
        vertical-align: bottom;
        float:none;
      }
      .right{
        float: right;
      }
      #title{
        font-family: 'Lobster', cursive;
        color:#354c87;
    }
    </style>

    <div class="container-fluid" class="col-md-10" hidden="{{esconderLogin}}">
    <div class="container">
        <h1 class="text-center" id="title">Mis Cuentas</h1>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <form id="register-form">
                    <fieldset>
                        <p class="text-uppercase pull-center"> Registrar Cuenta</p>
                        <div class="form-group">
                            <input type="text" name="nombres" id="nombres" class="form-control input-lg" placeholder="Nombres" required value={{limpiarinput}}>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellidos" id="apellidos" class="form-control input-lg" placeholder="Apellidos" required value={{limpiarinput}}>
                        </div>
                        <div class="form-group">
                            <input type="text" name="identificacion" id="identificacion" class="form-control input-lg" placeholder="Identificacion" required value={{limpiarinput}}>
                        </div>
                        <div class="form-group">
                            <input type="text" name="telefono" id="telefono" class="form-control input-lg" placeholder="Telefono" required value={{limpiarinput}}>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" required value={{limpiarinput}}>
                        </div>
                        <div>
                            <button class="btn btn-info" on-click="anadirCliente" type="button" name="button">Registrar</button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="col-md-1">
                <!--null-->
            </div>

            <div class="col-md-5 vcenter">
                <form role="form">
                    <fieldset>
                        <p class="text-uppercase"> Iniciar Sesión </p>
                        <p></p>
                        <div class="row">
                          <img class="col-lg-8 col-xs-12 flag vcenter" src="https://image.flaticon.com/icons/svg/1000/1000946.svg" alt="">
                        </div>
                        <p></p>
                        <div class="form-group">
                            <input type="text" name="identificacionIS" id="identificacionIS" class="form-control input-lg" placeholder="Identificacion" value={{limpiarinput}}>
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwordIS" id="passwordIS" class="form-control input-lg" placeholder="Password" value={{limpiarinput}}>
                        </div>
                        <div>
                            <button class="btn btn-lg btn-primary" on-click="iniciarSesion" type="button" name="button">Iniciar Sesion</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" hidden="{{esconderPrincipal}}">
        <div class="container" class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <h1>{{cuentaconsultada}}</h1>
                    <h2>{{montoconsultado}}</h2>
                    <h3>{{montoconsultadoUSD}}</h3>
                </div>
                <div class="col-md-3" >
                    <button class="btn btn-lg btn-primary" on-click="crearCuenta" type="button" name="button">Crear cuenta</button>
                </div>
                <div class="col-md-2" class="right">
                    <button class="btn btn-lg btn-secondary" on-click="cerrarsesion" type="button" name="button">Cerrar Sesion</button>
                </div>
            </div>
            </div>
            <p></p>
        <div class="col-md-12">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-5">
                              <form id="register-form">
                                  <fieldset>
                                      <p class="text-uppercase pull-center"> Consultar</p>
                                      <div class="form-group">
                                          <select class="form-control" id="cuentaMov">
                                              <template is="dom-repeat" items="{{cuentasU}}">
                                                  <option>[[item.numero_cuenta]]</option>
                                              </template>
                                          </select>
                                      </div>
                                      <div>
                                          <button class="btn btn-info" on-click="obtenerMovimientos" type="button" name="button">Consultar</button>
                                      </div>
                                      <p></p>
                                      <div class="scrollmov" hidden="{{noVerCuentas}}">
                                          <table class="table table-striped">
                                              <tbody>
                                                  <tr>
                                                      <th>Cuenta</th>
                                                      <th>Monto</th>
                                                      <th>Fecha</th>
                                                  </tr>
                                                  <template is="dom-repeat" items="{{movimientos}}">
                                                      <tr>
                                                          <td>[[item.cuenta_relacionada]]</td>
                                                          <td>$ [[item.monto_trans]]</td>
                                                          <td>[[item.fecha_trans]]</td>
                                                      </tr>
                                                  </template>
                                              </tbody>
                                          </table>
                                      </div>
                                  </fieldset>
                              </form>
                          </div>
                          <div class="col-md-2">

                          </div>
                          <div class="col-md-5">
                              <form id="register-form">
                                  <fieldset>
                                      <p class="text-uppercase pull-center"> Hacer transferencia</p>
                                      <p></p>
                                      <p>Cuenta Origen </p>
                                      <select class="form-control" id="cuentaOri">
                                          <template is="dom-repeat" items="{{cuentasU}}">
                                              <option>[[item.numero_cuenta]]</option>
                                          </template>
                                      </select>
                                      <p></p>
                                      <p>Cuenta Destino </p>
                                      <select class="form-control" id="cuentaDest">
                                          <template is="dom-repeat" items="{{cuentasDest}}">
                                              <option>[[item.numero_cuenta]]</option>
                                          </template>
                                      </select>
                                      <p></p>
                                      <div class="form-control">
                                          <input type="text" name="montoT" id="montoT" class="form-control input-lg" placeholder="Monto ($) sin puntos ni comas" value={{limpiarinput}}>
                                      </div>
                                      <p></p>
                                      <div>
                                          <button class="btn btn-info" on-click="transferir" type="button" name="button">Transferir</button>
                                      </div>
                                  </fieldset>
                              </form>
                          </div>

                      </div>
                  </div>
              </div>
</div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginPolymer extends Polymer.Element {
      static get is() { return 'login-polymer'; }
      static get properties() {
        return {
          limpiarinput: {
              type: String
            },
          identificacionU: {
              type: String
            },
          movimientos: {
            type: Array
          },
          fecha: {
              type: Array
            },
          monto: {
              type: Array
          },
          cuentasDest: {
                type: Array
          },
          cuentasU: {
                type: Array
          },
          cuentaconsultada: {
                type: String,
                value: "Bienvenido"
          },
          montoconsultado: {
                type: String,
                value: " "
          },
          montoconsultadoUSD: {
                type: String,
                value: " "
          },
          esconderLogin: {
            type: Boolean,
            value: false,
            notify: true
          },
          esconderPrincipal: {
            type: Boolean,
            value: true,
            notify: true
          },
          noVerCuentas: {
            type:Boolean,
            value: true
          },
          respuesta:{
            type: Object
          }
        };
      }

      cerrarsesion(){
        this.esconderLogin =false;
        this.esconderPrincipal = true;
        this.cuentaconsultada = "Bienvenido";
        this.montoconsultado = " ";
        this.montoconsultadoUSD = " ";
        this.noVerCuentas = true;
        this.limpiarinput = "";
        this.cuentasU = [];
        this.cuentasDest = [];


      }
      crearCuenta(){
        //traer la ultima cuenta
        var url = "http://localhost:3002/ultimacuenta";
        var request = new XMLHttpRequest();
        request.open("GET", url, false); //false es que la peticion sea sincrona
        request.setRequestHeader("Accept", "application/json");
        request.send();
        var ultimacuenta = JSON.parse(request.responseText)[0].numero_cuenta; // ya trae el value
        //console.log(ultimacuenta);
        //sumarle 1
        var nuevacuenta = parseInt(ultimacuenta)+1;
        ////console.log(nuevacuenta);
        //Crear la cuenta en BD
        var url = "http://localhost:3002/cuentas";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var bodynuevacuenta = {"identificacion": this.identificacionU, "numero_cuenta":nuevacuenta, "monto":0};
        ////console.log(bodynuevacuenta);
        var body = JSON.stringify(bodynuevacuenta);
        ////console.log(body);
        request.send(body);
        this.respuesta = request.responseText;
        //console.log(this.respuesta);
        //Actualizar cuentas en form-control
        var url = "http://localhost:3002/cuentas/" + this.identificacionU;
        //console.log(url);
        var request = new XMLHttpRequest();
        request.open("GET", url, false); //false es que la peticion sea sincrona
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.cuentasU = JSON.parse(request.responseText);
        //console.log(this.cuentasU);
        //actualizar cuentas destino
        var urld = "http://localhost:3002/nocuentas/" + this.identificacionU;
        //console.log(urld);
        var requestd = new XMLHttpRequest();
        requestd.open("GET", urld, false); //false es que la peticion sea sincrona
        requestd.setRequestHeader("Accept", "application/json");
        requestd.send();
        this.cuentasDest = JSON.parse(requestd.responseText);
        //console.log(this.cuentasDest);
        alert("Se creó la cuenta: " + nuevacuenta);
      }

      transferir(){
        var cuentaOrigen = parseInt(this.$.cuentaOri.value);
        var cuentaDestino= parseInt(this.$.cuentaDest.value);
        var monto = parseInt(this.$.montoT.value);

        if (Number.isInteger(monto) && monto > 0){
          //traer monto de una cuentas
          var url = "http://localhost:3002/monto/" + cuentaOrigen;
          //console.log(url);
          var request = new XMLHttpRequest();
          request.open("GET", url, false); //false es que la peticion sea sincrona
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.monto = JSON.parse(request.responseText);
          ////console.log(this.monto);
          var montoOri = this.monto[0].monto;
          ////console.log(montoOri);
          var resta = montoOri-monto;
          if (resta >= 0){
            var montoNeg = monto * (-1);
            var url = "http://worldclockapi.com/api/json/utc/now";
            var requestTime = new XMLHttpRequest();
            requestTime.open("GET", url, false); //false es que la peticion sea sincrona
            requestTime.setRequestHeader("Accept", "application/json");
            requestTime.send();
            this.fecha = JSON.parse(requestTime.responseText);
            var fechaTransZ = this.fecha.currentDateTime ;
            var date = new Date(fechaTransZ);
            var fechaTrans = date.toISOString().substring(0, 10);
            //console.log(fechaTrans);

            var url = "http://localhost:3002/transferencias";
            var request = new XMLHttpRequest();
            ////console.log('{"cuenta_afectada":{' + cuentaOrigen + ', "cuenta_relacionada":' + cuentaDestino + ', "monto_trans":' + monto + ', "fecha_trans":"' + fechaTrans + '}')
            request.open("POST", url, false);
            request.setRequestHeader("Accept", "application/json");
            request.setRequestHeader("Content-Type", "application/json");
            var transferenciaEnvio = {"cuenta_afectada": cuentaOrigen, "cuenta_relacionada":cuentaDestino, "monto_trans":montoNeg, "fecha_trans": fechaTrans};
            //console.log(fechaTrans);
            //console.log(transferenciaEnvio);
            var body = JSON.stringify(transferenciaEnvio);
            //console.log(body);
            request.send(body);
            this.respuesta = request.responseText;
            //console.log(this.respuesta);
            var request = new XMLHttpRequest();
            request.open("POST", url, false);
            request.setRequestHeader("Accept", "application/json");
            request.setRequestHeader("Content-Type", "application/json");
            var transferenciaRecepcion = {"cuenta_afectada": cuentaDestino, "cuenta_relacionada":cuentaOrigen, "monto_trans":monto, "fecha_trans": fechaTrans};
            //console.log(transferenciaRecepcion);
            var body = JSON.stringify(transferenciaRecepcion);
            //console.log(body);
            request.send(body);
            this.respuesta = request.responseText;
            //console.log(this.respuesta);

            //restar y sumar en cuentas
            //var modificacion1 = montoOri
            var url = "http://localhost:3002/montocuenta/" + cuentaOrigen;
            //console.log(url);
            var request = new XMLHttpRequest();
            request.open("POST", url, false);
            request.setRequestHeader("Accept", "application/json");
            request.setRequestHeader("Content-Type", "application/json");
            var modificacion = {"monto": resta};
            //console.log(modificacion);
            var body = JSON.stringify(modificacion);
            //console.log(body);
            request.send(body);
            //console.log(request.responseText);
            //modificacion cuenta destino
            var url = "http://localhost:3002/monto/" + cuentaDestino;
            //console.log(url);
            var request = new XMLHttpRequest();
            request.open("GET", url, false); //false es que la peticion sea sincrona
            request.setRequestHeader("Accept", "application/json");
            request.send();
            this.monto = JSON.parse(request.responseText);
            ////console.log(this.monto);
            var montoDest = this.monto[0].monto;
            ////console.log(montoOri);
            var suma = montoDest+monto;
            var url = "http://localhost:3002/montocuenta/" + cuentaDestino;
            //console.log(url);
            var request = new XMLHttpRequest();
            request.open("POST", url, false);
            request.setRequestHeader("Accept", "application/json");
            request.setRequestHeader("Content-Type", "application/json");
            var modificacion = {"monto": suma};
            //console.log(modificacion);
            var body = JSON.stringify(modificacion);
            //console.log(body);
            request.send(body);
            //console.log(request.responseText);

            alert("Se realizo la transferencia !");
          } else{
            alert("Negado: Fondos insuficientes para esta transferencia");
          }
        } else {
          alert("El monto debe ser un entero mayor a cero")
        }
      }


      obtenerMovimientos(){
        var cuentaMov = this.$.cuentaMov.value
        this.cuentaconsultada = cuentaMov
        //consegir el monto de esta cuenta y guardarlo en monto consultado
        var url = "http://localhost:3002/monto/" + cuentaMov;
        //console.log(url);
        var request = new XMLHttpRequest();
        request.open("GET", url, false); //false es que la peticion sea sincrona
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.montoconsultado = JSON.parse(request.responseText)[0].monto;

        var url = "http://apilayer.net/api/live?access_key=057a9c3f7f0c97e0fa57c3d59dc1f6fc&currencies=COP&format=1";
        //console.log(url);
        var request = new XMLHttpRequest();
        request.open("GET", url, false); //false es que la peticion sea sincrona
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.montoconsultadoUSD = ":   " +JSON.parse(request.responseText)[0].quotes.USDCOP + "USD$";
        this.respuesta=  JSON.parse(request.responseText)
        var dolar = this.respuesta.quotes.USDCOP
        //console.log(parseFloat(this.montoconsultado));
        //console.log( parseFloat(dolar));
        //console.log(parseFloat(this.montoconsultado) * parseFloat(dolar));
        this.montoconsultadoUSD = parseFloat(this.montoconsultado) / parseFloat(dolar);
        //console.log(this.respuesta.quotes.USDCOP);
        this.montoconsultado = this.montoconsultado + " $";
        this.montoconsultadoUSD = this.montoconsultadoUSD +" USD$";

        var url = "http://localhost:3002/transferencias/" + cuentaMov;
        var request = new XMLHttpRequest();

        request.open("GET", url, false); //false es que la peticion sea sincrona
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.movimientos = JSON.parse(request.responseText); // ya trae el value
        //console.log(this.movimientos);
        this.noVerCuentas = false;
        //this.noCargados = false;
      }
      anadirCliente(){
        var nombres= this.$.nombres.value
        var apellidos= this.$.apellidos.value
        var identificacion= this.$.identificacion.value
        var telefono= this.$.telefono.value
        var password= this.$.password.value


        if (nombres === "" || apellidos === "" | identificacion === "" | telefono === "" | password === ""){
          alert("Para registrar un nuevo usuario debe llenar todos los campos")
        } else{
          var url = "http://localhost:3002/password/" + identificacion;
          //console.log(url)
          var request = new XMLHttpRequest();
          //console.log('{identificacion":"'+ identificacion + '", "password":"' + password + '"}');
          request.open("GET", url, false); //false es que la peticion sea sincrona
          request.setRequestHeader("Accept", "application/json");
          request.send();
          //this.clientes = JSON.parse(request.responseText).value;
          var passnew = JSON.parse(request.responseText);
          //console.log(passnew);

          if (passnew[0] === undefined || passnew.length == 0){
            var nuevoCliente = {"nombres":nombres, "apellidos":apellidos, "identificacion":identificacion, "telefono":telefono, "password":password};
            var body = JSON.stringify(nuevoCliente);
            var url = "http://localhost:3002/usuarios";
            var request = new XMLHttpRequest();
            //console.log('{"nombres":"'+ nombres + '", "apellidos":"' + apellidos + '", "identificacion":"'+ identificacion + '", "telefono":"' + telefono + '", "password":"' + password + '"}')
            request.open("POST", url, false);
            request.setRequestHeader("Accept", "application/json");
            request.setRequestHeader("Content-Type", "application/json");
            //console.log(body)
            request.send(body);
            this.respuesta = request.responseText;
            //console.log(this.respuesta);
            this.esconderLogin = true;
            this.esconderPrincipal = false;
            this.identificacionU = identificacion
            alert("Bienvenido " + nombres + ". Por favor cree una cuenta!");
          } else {
              alert("El usuario ya existe. Inicie sesión, por favor");
        }
        }

      }

      iniciarSesion(){
        var identificacionIS= this.$.identificacionIS.value
        var passwordIS= this.$.passwordIS.value

        if (identificacionIS === "" || passwordIS === ""){
          alert("Usuario o password incorrecto")
        } else{
          var url = "http://localhost:3002/password/" + identificacionIS;
          //console.log(url)
          var request = new XMLHttpRequest();
          //console.log('{identificacionIS":"'+ identificacionIS + '", "passwordIS":"' + passwordIS + '"}');
          request.open("GET", url, false); //false es que la peticion sea sincrona
          request.setRequestHeader("Accept", "application/json");
          request.send();
          //this.clientes = JSON.parse(request.responseText).value;
          var passw = JSON.parse(request.responseText);
          //console.log(passw);

          if (passw[0] === undefined || passw.length == 0){
            alert("Password o usuario incorrecto");
          } else {
            if (passw[0].password === passwordIS){
              var url = "http://localhost:3002/cuentas/" + identificacionIS;
              //console.log(url);
              var request = new XMLHttpRequest();
              request.open("GET", url, false); //false es que la peticion sea sincrona
              request.setRequestHeader("Accept", "application/json");
              request.send();
              this.cuentasU = JSON.parse(request.responseText);
              //console.log(this.cuentasU);
              //var passw = JSON.parse(request.responseText);
              var urld = "http://localhost:3002/nocuentas/" + identificacionIS;
              //console.log(urld);
              var requestd = new XMLHttpRequest();
              requestd.open("GET", urld, false); //false es que la peticion sea sincrona
              requestd.setRequestHeader("Accept", "application/json");
              requestd.send();
              this.cuentasDest = JSON.parse(requestd.responseText);
              this.identificacionU = identificacionIS
              console.log(this.cuentasDest);
              //alert("Bienvenido");
              this.esconderLogin =true;
              this.esconderPrincipal = false;
            } else{
              alert("Password o usuario incorrecto");
            }
        }
        }
        }

      }


    window.customElements.define(LoginPolymer.is, LoginPolymer);
  </script>
</dom-module>
